*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
navbar{
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	background: #c1c1c1;
	border: 1px solid grey;
	padding: 0 10px;
}
navbar i{
	letter-spacing: 5px;
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #111111;
}
form{
	display: flex;
	justify-content: space-evenly;
	padding: 30px 0;
}
#inputs{
	display: inherit;
}
.fa-check{
	margin-right: 20px;
}
#list{
	border: 1px solid grey;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#list h2{
	font-weight: normal;
	text-transform: uppercase;
	text-align: center !important;
	width: 100%;
}
#list h2 i {
	margin-right: 10px !important;
}
td{
	text-align: center;
}
td i{
	letter-spacing: 30px;
}
.completed, .old{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
}
#cmpOld{
	margin-top: 30px;
	margin-bottom: 30px;
	font-style: normal;
}
#cmpOld h3{
	text-align: center;
	font-weight: normal;
}
#cmpOld h3 i{
	margin-right: 10px;
	font-weight: bold;
}
#cmpOld ul li{
	list-style-type: none;
}
#progress{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
}
#progress h3{
    font-weight: normal;
}
#progress h3 i{
	font-weight: bold;
	margin-right: 10px;
}